body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.1em;
}

nav, footer {
    background-color: #00008B;

}

footer {
    font-size: small;
}

textarea {
    height: 75px;
    width: 80%;
}

.day {
    padding: 20px;
    background-color: lightblue;
    border: 2px solid #f7f7f7 ;
    border-radius: 10px;
  }

.today {
    background-color: lightcoral;
}

.edit-user-comment-wrapper {
    display: none;
}


.nav-link {
    color: #fff
}

.nav-link:hover,
.nav-link:active {
    color: inherit;
    text-decoration: underline;
}

td { text-align: center;}

table {
    border-collapse: separate !important;
    padding: 10px;
    margin: 10px auto;
    border: 5px solid #00008B;
    border-radius: 10px;
}

th {
    
}

.sat .day, .sun .day{
    background-color: #5CCCFF;
}



@media screen and (min-width: 600px) {
    h1 {
        font-size: 78px;
    }

    #navbarLinks {
        display: flex;
        justify-content: end;
    }
}