{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A gym website in which users can book themselves into available events"/>
      <title>Weighting Room</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/487339bde6.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans&display=swap" rel="stylesheet">
   </head>
   <body class="d-flex flex-column h-100 main-bg">
      <nav class="navbar navbar-dark navbar-expand-sm">
         <div class="container-fluid">
            <a class="nav-link navbar-brand" href="{% url 'home' %}">
               <h2> W <i class="fa fa-dumbbell" aria-hidden="true"></i> R </h2>
               <span class="sr-only">(current)</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
               aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLinks">
               <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'my_bookings' %}">My Bookings</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </div>
      </nav>
      <h1 class="text-uppercase text-center mt-2">
         Weighting <i class="fa fa-dumbbell" aria-hidden="true"></i> Room
      </h1>
      <div class="container">
         <div class="row">
            <div class="col-md-6 offset-md-3">
               {% for message in messages %}
               <div class="alert {{ message.tags }} alert-dismissible message" role="alert">
                  {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
      <main>
         {% block content %}
         {% endblock content %}
      </main>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto">
         <div class="col-md-4 d-flex align-items-center mx-2">
            <span class="text-white">Weighting Room, a Django project by Dante Cadiz</span>
            <a href="{% url 'home' %}">
            <i class="fa fa-dumbbell fa-lg mx-2 text-white" aria-hidden="true"></i>
            </a>
         </div>
         <div class="col-md-4 align-items-center mt-2">
            <div class="text-white mx-2">Tel: 0123 456 7890</div>
            <div class="text-white mx-2">Email: info@weightingroom.com</div>
         </div>
         <ul class="nav col-md-2 justify-content-end list-unstyled d-flex mt-2">
            <li class="mx-2"><a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook"><i class="fab fa-facebook fa-lg text-white social mx-2"></i></a></li>
            <li class="mx-2"><a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter"><i class="fab fa-twitter fa-lg text-white social mx-2"></i></a></li>
            <li class="mx-2"><a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram"><i class="fab fa-instagram fa-lg text-white social mx-2"></i></a></li>
         </ul>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{% static 'js/script.js' %}"></script>
   </body>
</html>