{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 mt-2 left">
         <div class="row">
            <div class="col-md-6">
               <div class="card mb-3 bg-light border-primary" id="column-left">
                  <div class="card-body">
                     <div class="image-container">
                        <img class="card-img-top" src="{{ event.featured_image.url }}" alt="Featured image for gym event">
                     </div>
                     <h2 class="card-title my-2">{{ event }}</h2>
                     <p class="card-text">{{ event.content | safe }}</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card mb-3 bg-light border-primary" id="column-right">
                  <div class="card-body">
                     {% if user.is_authenticated %}
                     {% if bookings %}
                     <h5>You are booked into the following slots for this event:</h5>
                     {% for booking in bookings %}
                     <form action="{% url 'cancel_booking' event.slug booking.id %}" method="POST" >
                        {% csrf_token %}   
                        <button type="submit" class="btn btn-danger">{{ booking }} - Cancel</button>
                     </form>
                     {% endfor %}
                     {% endif %}
                     {% if timeslots %}
                     <h5>The following timeslots are available for this event:</h5>
                     {% for timeslot in timeslots %}
                     {% if timeslot.number_of_attendees >= event.max_attendees %}
                     <p>{{ timeslot }} - Sorry, this timeslot is fully booked</p>
                     {% else %}
                     <form action="{% url 'make_booking' event.slug timeslot.id %}" method="POST" >
                        {% csrf_token %}   
                        <button type="submit" class="btn btn-primary">{{ timeslot }} - Book</button>
                     </form>
                     {% endif %}
                     {% endfor %}
                     {% endif %}
                     {% else %}
                     {% for timeslot in timeslots %}
                     <p>{{timeslot}}</p>
                     {% endfor %}
                     <p>Please <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">create an account</a> in order to book events</p>
                     {% endif %}
                     <div class="overflow-auto mt-3 comments-div">
                        {% for comment in comments %}
                        {% if comment.name == user.username %}
                        <div class="mt-3 ml-auto">
                           <div class="user-comment-wrapper">
                              <strong>
                              You wrote:
                              </strong>
                              "{{comment.content}}"
                              <div class="small">{{comment.created_on}}</div>
                              <div class="d-flex flex-row-reverse">
                                 <form action="{% url 'delete_comment' event.slug comment.id %}" method="POST" >
                                    {% csrf_token %}   
                                    <button class="btn btn-secondary delete-comment" >Delete</button>
                                 </form>
                                 <button class="btn btn-primary edit-comment">
                                 Edit
                                 </button>
                              </div>
                           </div>
                           <div class="edit-user-comment-wrapper">
                              <form method="post" action="{% url 'edit_comment' event.slug comment.id %}" method="POST">
                                 {{ comment_form }}
                                 {% csrf_token %}
                                 <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn-primary">Submit</button>  
                              </form>
                              <button class="btn btn-secondary discard">Discard</button>
                              </div>
                           </div>
                        </div>
                        {% else %}
                        <div class="mt-3 ml-auto">
                           <strong>
                           {{comment.name}}:
                           </strong>
                           "{{comment.content}}"
                           <div class="small">{{comment.created_on}}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                     </div>
                     {% if user.is_authenticated %}
                     <h5 class="mt-3">Leave a comment:</h5>
                     <form method="post">
                        <div class="form-group">
                           {{ comment_form }}
                           {% csrf_token %}
                        </div>
                        <div class="d-flex flex-row-reverse">
                           <button type="submit" class="btn btn-primary mt-2">Submit</button> 
                     </form>
                     </div>
                     {% else %}
                     <p class="mt-3">Log in to leave a comment!</p>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}